html{
  font-family: 'Montserrat', sans-serif;
}
body{
  background-color: white;
  /* align-items: center; */
  text-align: center;
}
header{
  background-color: rgb(0, 55, 86);
  color: white;
  width: 100%;
  /* text-align: center; */
  /* align-items: center; */
  display: inline-flex;
        }

.logoHeader{
  width: 25%;
}

header h1 {
  size: auto;
   margin: 0;
   width: auto;
   font-size: 4rem;
   display: flex;
   /* justify-content: center; */
   /* text-align: justify; */
   align-items: center;
      }




.contenedor-acordeones{
  margin: 0, 0;
  display: inline-flex;
  text-align: center;
}

/* Establece el ancho del acordeón. Establece el margen a 90px en la parte superior e inferior y auto a la izquierda y derecha */

.contenedor {

  /* margin: 0, auto; */
  /* width: 300px; */
  /* height: auto; */
  /* position: relative; */
  /* margin: 10px 2px; */
  background-color: blue;
  text-align: center;
  align-items: center;
}

.acordeon {
  margin: 10%;
  width: 300px;
  margin: 0;
  color: black;
  /* background-color: violet; */
  padding: 20px auto;
  
  
}
.acordeon .contenedor .logo{
  margin: 4px 4px;
  width: 180;
  align-items: center;
}

.logoContenedor{
  width: 100%;
}

.acordeon .contenedor:hover{
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}

/* Posiciona las etiquetas en relación con el contenedor. Añade relleno en la parte superior e inferior y aumenta el tamaño de la fuente. También hace que su cursor sea un puntero */

.acordeon .label {
  width: 200px;
  position: relative;
  padding: 10px 0;
  font-size: 30px;
  color: black;
  cursor: pointer;
  align-items: center;
  text-align: center;
}


.acordeon .label::before {
 
  content: '+';
  color: black;
  position: absolute;
  top: 15%;
  right: -40%;
  font-size: 30px;
  transform: translateY(-50%);
}

/* Oculta el contenido (altura: 0), disminuye el tamaño de la fuente, justifica el texto y añade la transición */

.acordeon .contenido {
  
  position: relative;
  /* background: white; */
  height: 0;
  font-size: medium;
  text-align: left;
  width: 780px;
  overflow: hidden;
  transition: 0.5s;
}

/* Muestra la parte de contenido cuando está activa. Establece la altura */

.acordeon .contenedor.activa .contenido {
  
  width: 300px;
  height: auto;
  border-radius: 3rem;
  align-items: center;
}

/* Cambia de signo positivo a negativo una vez activado */

.acordeon .contenedor.activa .label::before {
  content: '-';
  font-size: 30px;
}



h2{
  position: top center;
  font-size: x-large;
  text-align: center;
  align-items: center;
  
}

footer{
  text-align: left;
  
}
