html{
    font-family: 'Montserrat', sans-serif;
}
body{

    background-color: white;
    align-items: center;

}
header{
    background-color: rgb(0, 55, 86);
     color: white;
     align-items: center;
     text-align: center;
     width: 100%;
    /* padding: 2rem 1rem; */
    display: inline-flex;
        }
.logoHeader{
  position: relative;
}

h1 {
    /* position: absolute; */
    font-size: 4rem;
    text-align: center;
    display: inline-flex;
    align-items: center;

}

.contenedor-acordeones{

  text-align: center;
}

/* Establece el ancho del acordeón. Establece el margen a 90px en la parte superior e inferior y auto a la izquierda y derecha */

.acordeon .contenedor {
 
  width: 300px;
  height: auto;
  position: relative;
  margin: 10px 2px;
  /* background-color: blue; */
  text-align: center;
  
 
}

.acordeon {
  width: 300px;
  margin: 90px auto;
  color: black;
  /* background-color: violet; */
  padding: 45px 45px;
  
  
}
.acordeon .contenedor .logo{
  margin: 4px 4px;
  width: 180;
  align-items: center;
}

.logoContenedor{
  width: 50%;
}

.acordeon .contenedor:hover{
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}

/* Posiciona las etiquetas en relación con el contenedor. Añade relleno en la parte superior e inferior y aumenta el tamaño de la fuente. También hace que su cursor sea un puntero */

.acordeon .label {
  width: 200px;
  position: relative;
  padding: 10px 0;
  font-size: 30px;
  color: black;
  cursor: pointer;
  align-items: center;
  text-align: center;
}


.acordeon .label::before {
 
  content: '+';
  color: black;
  position: absolute;
  top: 15%;
  right: -40%;
  font-size: 30px;
  transform: translateY(-50%);
}

/* Oculta el contenido (altura: 0), disminuye el tamaño de la fuente, justifica el texto y añade la transición */

.acordeon .contenido {
  
  position: relative;
  /* background: white; */
  height: 0;
  font-size: medium;
  text-align: left;
  width: 780px;
  overflow: hidden;
  transition: 0.5s;
}

/* Muestra la parte de contenido cuando está activa. Establece la altura */

.acordeon .contenedor.activa .contenido {
  
  width: 300px;
  height: auto;
  border-radius: 3rem;
  align-items: center;
}

/* Cambia de signo positivo a negativo una vez activado */

.acordeon .contenedor.activa .label::before {
  content: '-';
  font-size: 30px;
}

.acordeon-cuerpo{
  display: inline-flex;
  text-align: center;
}

.acordeon-cuerpo2{
  display: inline-flex;
  text-align: center;
}

h2{
  font-size: large;
  text-align: center;
  align-items: center;
  
}